<div class="container">
  <ngx-loading [show]="loading"></ngx-loading>
  <br>
  <div class="form-group row">
    <H1>LOAN </H1>
  </div>
  <form ngNativeValidate>


    <div class="row">
      <div class="field-label col-md-4 mx-auto">
        <label for="BANK" class="text-muted">BANK</label>
        <input type="text" class="form-control border-bottom" required [(ngModel)]="model.BANK" id="BANK" name="BANK">
      </div>

      <div class="field-label col-md-4 mx-auto">
        <label for="DOC_LOAN" class="text-muted">DOCUMENT LOAN</label>
        <select class="form-control" required [(ngModel)]="model.DOC_LOAN" [name]="DOC_LOAN" id="DOC_LOAN"
          [ngModelOptions]="{standalone: true}">
          <option value="PO">Purchase Order</option>
          <option value="INVOICE">Invoice</option>
        </select>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="field-label col-md-4 mx-auto">
        <label for="KEY" class="text-muted">DOCUMENT KEY</label>
        <input type="number" class="form-control border-bottom" required [(ngModel)]="model.KEY" id="KEY" name="KEY">
      </div>

      <div class="field-label col-md-4 mx-auto">
        <label for="EMAIL" class="text-muted">E-mail</label>
        <input type="text" class="form-control border-bottom" required [(ngModel)]="model.EMAIL" id="EMAIL"
          name="EMAIL">
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="field-label col-md-4 mx-auto">
        <label for="TEL_NUMBER" class="text-muted">Tel</label>
        <input type="text" class="form-control border-bottom" required [(ngModel)]="model.TEL_NUMBER" id="TEL_NUMBER"
          name="TEL_NUMBER" pattern="^([0-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$">
      </div>

      <div class="field-label col-md-4 mx-auto">
        <label for="BUSINESS_TYPE" class="text-muted">Business type</label>
        <select class="form-control" required [(ngModel)]="model.BUSINESS_TYPE" [name]="BUSINESS_TYPE"
          id="BUSINESS_TYPE" [ngModelOptions]="{standalone: true}">
          <option value="PO">Purchase Order</option>
          <option value="INVOICE">Invoice</option>
        </select>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="field-label col-md-4 mx-auto">
        <label for="INCOME" class="text-muted">Income</label>
        <input type="number" class="form-control border-bottom" required [(ngModel)]="model.INCOME" id="INCOME" name="INCOME">
      </div>

      <div class="field-label col-md-4 mx-auto">
        <label for="GUARANTEE" class="text-muted">Guarantee</label>
        <input type="number" class="form-control border-bottom" required [(ngModel)]="model.GUARANTEE" id="GUARANTEE"
          name="GUARANTEE">
      </div>
    </div>

    <div class="row">
      <div class="field-label col-md-4 mx-auto">
        <label for="LOAN_AMOUNT" class="text-muted">Loan amount</label>
        <input type="number" class="form-control border-bottom" required [(ngModel)]="model.LOAN_AMOUNT" id="LOAN_AMOUNT" name="LOAN_AMOUNT">
      </div>

      <div class="field-label col-md-4 mx-auto">
        <label for="INSTALLMENT" class="text-muted">Installment</label>
        <input type="number" class="form-control border-bottom" required [(ngModel)]="model.INSTALLMENT" id="INSTALLMENT"
          name="INSTALLMENT">
      </div>
    </div>
    <hr>

    <!-- ----------------------------------SUBMIT-------------------------------------- -->
    <div class="row">
      <div class="center">
        <button type="submit" class="w3-btn w3-grey w3-border w3-border-green w3-text-white w3-round-xlarge"
          (click)="openModal(template)" style="text-shadow:1px 1px 0 #444">SUBMIT</button>
      </div>
    </div>

    <ng-template #template>
      <div class="modal-body text-center">
        <pre class="card card-block card-header">
      <p>BANK :{{this.model.BANK.trim()}}</p>
      <p>DOCUMENT LOAN :{{this.model.DOC_LOAN.trim()}}</p>
      <p>DOCUMENT KEY :{{this.model.KEY}}</p>
      <p>DOCUMENT EMAIL :{{this.model.EMAIL.trim()}}</p>
      <p>DOCUMENT TEL :{{this.model.TEL_NUMBER}}</p>
      <p>DOCUMENT BUSINESS TYPE :{{this.model.BUSINESS_TYPE.trim()}}</p>
      <p>DOCUMENT INCOME :{{this.model.INCOME}}</p>
      <p>GUARANTEE :{{this.model.GUARANTEE}}</p>
      <p>LOAN AMOUNT :{{this.model.LOAN_AMOUNT}}</p>
      <p>INSTALLMENT :{{this.model.INSTALLMENT}}</p>

    </pre>
        <p>Do you want to confirm?</p>

        <button type="button" class="btn btn-default" (click)="confirm()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="decline()">No</button>
      </div>
    </ng-template>
    <!-- ------------------------------------------------------------------------------ -->


    <div class="row" id='statusfield' style='display:none;'>
      <div class="field-label col-md-12 mx-auto">
        <label for="status" class="text-muted">Status</label>
        <textarea style="border: none; background-color: white" class="form-control border-bottom" readonly id="status"
          name="status"></textarea>
      </div>
    </div>


  </form>
</div>